{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'clearfix',
    'container',
  ]
%}
<section{{attributes.addClass(classes)}}>
  {% block content %}
    <div class="row">
      {{ content }}
    </div>
  {% endblock %}
</section>
