body {
  margin-top: 0;
  min-height: 100vh;
  font-family: 'Roboto';
}

.footer {
  background-color: #333333;
}

.path-frontpage .footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
}

.footer .content-footer{
  color:#ffffff;
  font-size: 25px;
  margin: 0px 100px;
}

.footer svg{
  font-size: 30px;
  margin: 0px 15px;
}

.footer .copyright{
  font-size: 18px;
}

.menu-desktop .menu {
  float: right;
}
.menu-desktop a {
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
}

.menu-desktop .nav > li > a:hover {
  color: #333333;
  background-color: #2cbc75;
}
.menu-desktop .nav li .is-active {
  color: #333333;
}

.menu-desktop {
  background-color: #2cbc75;
  padding: 15px;
}

.block-system-main-block ul {
  list-style-type: none;
}

.block-system-main-block li {
  margin-left: -20px;
}

.block-system-main-block .content {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0;
  overflow: hidden;
  min-height: 385px;
}

.block-system-main-block .title{
  line-height: 26px;
  margin: 11px 0px;
}

.block-system-main-block .title a {
  font-size: 20px;
  color: #333333;
  font-weight: bold;
}

.block-system-main-block .title-page {
    margin-bottom: 55px;
}

.block-system-main-block .description{
  line-height: 18px;
  margin: 11px 0px;
}

.block-system-main-block .description p {
  font-size: 14px;
  color: #777777;
}

.block-system-main-block .read-more {
  font-size: 14px;
  float: right;
  padding-right: 25px;
  padding-bottom: 15px;
  color: #4EE49A;
}

.block-system-main-block .read-more a {
  font-size: 14px;
  color: #4EE49A;
}

.block-system-main-block .date {
    border-right: 1px solid #dddddd;
    height: 140px;
    padding: 50% 15%;
    margin-top: 13px;
}

.block-system-main-block .day {
  color: #333333;
  font-size: 40px;
  font-weight: bold;
}

.block-system-main-block .month {
  font-size: 18px;
  color: #777777;
  padding-left: 8px;
}


.block-system-main-block h1 {
  font-size: 40px;
  line-height: 52px;
  font-weight: bold;
}

.block-system-main-block h2 {
  font-size: 20px;
  line-height: 26px;
}

.block-system-main-block .view-header h2 {
    margin-top: -10px;
}

.block-system-main-block h3 {
  font-size: 18px;
  line-height: 23px;
}

.block-system-main-block .text1 {
  font-size: 18px;
  line-height: 23px;
}

.block-system-main-block .text2 {
  font-size: 14px;
  line-height: 18px;
}

.block-system-main-block .gree{
  color: #2cbc75;
}
.block-system-main-block .light-gree{
  color: #4EE49A;
}
.block-system-main-block .black{
  color: #333333;
}
.block-system-main-block .gray{
  color: #777777;
}
.block-system-main-block .middle-gray{
  color: #999999;
}
.block-system-main-block .light-gray{
  color: #dddddd;
}
.block-system-main-block .white{
  color: #eeeeee;
}
